.rowContainerSoldHome {
  position: relative;
  width: 100%;
  margin: 3rem auto;
}

.rowItems {
  display: flex;
  justify-content: center;
}

.colSoldHome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media screen and (min-width: 992px) {
  .rowContainerSoldHome {
    width: 50%;
    margin: 8rem auto;
  }

  .colSoldHome {
    margin: 0rem;
  }

  .img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
}
