.customCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}
  
.customRow {
    display: flex;
    justify-content: space-between;
    gap: .5em;
}

.OurServiceContainer{
    max-width: fit-content;
    padding: .6em;
    border: black solid 1px;
}

.img{
    width: 128px;
    min-width: 32px;
    height: 128px;
}

.number{
    background: var( --color-primary, #f57914);
    color: var(--color-white, #ffffff);
    font-size: var(  --font-size-lg, 1.2rem);
    font-weight: var(  --font-weight-bold, 700);
    text-align: center;

    padding: .4em .9em;
    
    border-radius: 50%;
    user-select: none;
}

.boldP{
    font-weight: var(  --font-weight-bold, 700);
}