.customCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}
  
.customRow {
    display: flex;
    justify-content: space-between;
    gap: .5em;
}

.OurServiceContainer{
    max-width: calc(100% / 3.4);
    padding: .6em;
    /* border: black solid 1px; */
}

.img{
    width: 84px;
    min-width: 32px;
    height: 84px;
    font-weight: var(--font-weight-light, 300);
}


.boldP{
    font-weight: var(  --font-weight-bold, 700);
}