.principalContainer {
}

.rowPlanForm {
  position: relative;
  margin: 0 auto !important;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .rowPlanForm {
    width: 85% !important;
  }
}
