.principalContainer {
  position: relative;
  margin: 3rem 2;
  width: 100%;
  background-color: red;
}

.rowPlanForm {
  position: relative;
  margin: 0 auto !important;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.principalImage {
  width: 100% !important;
  height: 300px !important;
  object-fit: cover !important;
  border-radius: 50px !important;
  cursor: pointer;
}

.principalCol {
  padding: 0.5rem 0rem;
}

@media screen and (min-width: 992px) {
  .principalContainer {
    width: 100%;
    margin: 2.5rem auto;
  }

  .rowPlanForm {
    width: 85% !important;
  }

  .principalImage {
    width: 100% !important;
    height: 520px !important;
    object-fit: cover !important;
    border-radius: 50px !important;
  }

  .principalCol {
    padding: 0.5rem 1rem;
  }
}
