.col,
.colCardPrimary {
  margin: 0 !important;
  padding: 0.9rem !important;
}

.colCardPrimary,
.colCardSecundary,
.cardPrimary,
.cardSecundary {
  border-radius: var(--border-radius-5xl);
}

.colCardPrimary {
  background-color: transparent !important;
  background-color: var(--bg-white) !important;
}

.cardPrimary,
.cardSecundary {
  border: none;
}

.cardPrimary {
  background-color: var(--color-primary);
  padding: 1.2rem !important;
  font-size: var(--font-size-sm);
}

.colCardSecundary {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-secondary) !important;
  padding: 1rem 0;
  font-size: var(--font-size-md) !important;
}

.cardSecundary {
  background-color: var(--color-secondary);
}

@media screen and (min-width: 992px) {
  .colCardSecundary {
    height: 40rem;
    padding: 1.5rem 0.5rem;
  }
}

.card,
.cardBody {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none;
}

.cardTitle {
  font-size: var(--font-size-2xl) !important;
  font-weight: var(--font-weight-bold) !important;
  color: var(--color-white) !important;
  text-align: center;
  width: 87%;
  margin: 0 auto;
}

.supplyContainer {
  background-color: var(--color-white) !important;
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  width: 80%;
  border: 1.5px solid var(--color-primary);
  border-radius: var(--border-radius-5xl);
  padding: 0.3rem 1rem;
  text-align: center !important;
  margin: 0.7rem auto;
}

.supply {
  color: var(--color-primary);
  font-size: var(--font-size-2xl) !important;
}

.brokersInfo {
  width: auto !important;
  font-size: var(--font-size-sm) !important;
  font-weight: bold;
}

.characteristics {
  color: var(--color-white);
  width: 85%;
  margin: 0 auto !important;
  padding: 1rem !important;
}

.characteristicsItem {
  line-height: 1.7rem !important;
}
