.containerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem !important;
  background-color: var(--bg-dark);
  width: 100%;
}

.h2 {
  color: var(--text-dark);
  font-size: var(--font-size-2xl);
  font-weight: 700;
  margin: 0 !important;
  text-align: center;
  width: 100% !important;
  padding: 1rem 1rem 2rem 1rem;
}

.text-center {
  text-align: center !important;
}

@media screen and (min-width: 992px) {
  .h2 {
    font-size: var(--font-size-5xl);
    padding: 2rem 1rem 2rem 1rem;
  }
}
