.containerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark);
  width: 100%;
  margin: 2rem auto !important;
  text-align: center;
  position: relative;
}

.h2 {
  color: var(--text-dark);
  font-size: var(--font-size-2xl);
  font-weight: 700;
  text-align: center;
  width: 100% !important;
  padding-top: 1rem !important;
  margin: 0rem !important;
  padding: 0 !important;
}

.h2_3xl {
  font-size: var(--font-size-2xl) !important;
}

.text-center {
  text-align: center !important;
}

@media screen and (min-width: 992px) {
  .containerSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .h2 {
    font-size: var(--font-size-5xl);
  }

  .h2_3xl {
    font-size: 4.5rem !important;
  }
}
