.iconFilterContainer {
  font-size: var(--font-size-xl);
  display: flex;
  justify-content: flex-end;
}

.iconFilterContainer span {
  margin: 0 0.5rem;
  cursor: pointer;
  color: var(--color-dark-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: 0.3s all ease;
  border-radius: var(--border-radius-3xl);
}

.iconFilterContainer span:hover {
  background-color: var(--color-pale-gray);
  border-radius: var(--border-radius-3xl);
  color: var(--color-primary);
}

.isFilterGridActive {
  margin: 0 0.5rem;
  cursor: pointer;
  color: var(--color-dark-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: 0.3s all ease;
  border-radius: var(--border-radius-3xl);
  background-color: var(--color-pale-gray);
  padding: 0.5rem;
  border-radius: var(--border-radius-3xl);
  color: var(--color-primary);
  cursor: pointer;
}

.isFilterListActive {
  margin: 0 0.5rem;
  cursor: pointer;
  color: var(--color-dark-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: 0.3s all ease;
  border-radius: var(--border-radius-3xl);
  background-color: var(--color-pale-gray);
  padding: 0.5rem;
  border-radius: var(--border-radius-3xl);
  color: var(--color-primary);
  cursor: pointer;
}
