.navbarToggle {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  margin-left: 2rem !important;
  width: 2.65rem !important;
}

.navbarToggle:focus {
  outline: none !important;
  box-shadow: none !important;
}
