.customCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.customRow {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

.form {
  /* position: fixed;

  top: 20%;
  left: calc(60vw + 2rem); */
  background-color: var(--color-pale-gray, #f4f3f1);
  border-radius: var(--border-radius-5xl, 4rem);

  width: 480px;
  max-height: 550px;
  padding: 4em 2.5em;
}

.following {
  position: fixed;

  top: 20%;
  left: calc(60vw + 2rem);
}

/* HEADER */

.form__header {
  text-align: center;
}

.form__header > h2,
.form__header > h3 {
  font-weight: var(--font-weight-bold, 700);
}

.form__header > h2 {
  /* font-weight: var(--font-weight-extra-bold, 800); */
  font-size: var(--font-size-xl, 1.4rem);
  text-align: start;
  width: 100%;
}

.form__header > h3 {
  font-size: var(--font-size-sm, 0.8rem);
  text-align: start;
  width: 100%;
}

/* END HEADER */

/* BUTTON */

.form__btn {
  all: unset;

  font-weight: var(--font-weight-bold, 700);
  color: var(--color-white, white);
  background: var(--color-primary, #f57914);
  border-radius: var(--border-radius-3xl, 1.4rem);

  text-align: center;
  width: calc(100% / 3);
  padding: 0.5em 1.1em;

  filter: brightness(100%);
  transition: filter 300ms linear;
}

.form__btn:hover {
  filter: brightness(120%);
}

/* END BUTTON */

/* MAIN */

.form__inputs {
  margin: 1rem 0;
  width: 100%;
  gap: 1.2rem;
}

.form__inputs__name,
.form__inputs__tel,
.form__inputs__email {
  width: 90%;
}

.form__inputs > div > input {
  all: unset;

  background-color: var(--color-white, white);
  border-radius: var(--border-radius-3xl, 1.4rem);
  font-size: var(--font-size-md, 1rem);

  padding: 0.3em 1em;
  width: 100%;
}

.form__inputs > div > input::placeholder {
  font-weight: var(--font-weight-bold, 700);
  color: var(--color-dark, #252525);
}

/* END MAIN */

/* LABEL */
.form__inputs > label {
  margin-top: 1rem;
  font-size: var(--font-size-sm, 0.8rem);
  font-weight: var(--font-weight-bold, 700);
  max-width: 315px;
}

.form__inputs > label > input {
  align-self: flex-start;
  margin-top: 0.85%;
  border: none;
  width: 36px;
}
/* END LABEL */

/* ICON */

.formIcon {
  background: var(--color-white, white);
  color: var(--color-dark-light, #868686);
  border-radius: var(--border-radius-3xl, 1.4rem);

  width: 52px;
  height: 32px;

  padding: 0.3em 0.6em;
}

/* END ICON */
@media (width < 991px) {
  .form {
    width: 70%;
    max-width: 70%;
    height: 600px;
  }
}

@media (width < 650px) {
  .form {
    width: 100%;
    max-width: 90%;
    max-height: max-content;
  }
}

@media (width < 500px) {
  .form {
    width: 100%;
    max-width: 100%;
    max-height: max-content;
  }
}
