.customCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

.customRow {
  display: flex;
  justify-content: space-between;
  gap: .5em;
}

.form {
  /* position: fixed;

  top: 20%;
  left: calc(60vw + 2rem); */
  background-color: var(--color-pale-gray, #f4f3f1);
  border-radius: var(--border-radius-5xl, 4rem);


  width: 380px;
  padding: 2em;
}

/* HEADER */

.form__header {
  text-align: center;
}

.form__header>h2,
.form__header>h3 {
  font-weight: var(--font-weight-bold, 700);
}

.form__header>h2 {
  /* font-weight: var(--font-weight-extra-bold, 800); */
  font-size: var(--font-size-3xl, 2rem);
}

.form__header>h3 {
  font-size: var(--font-size-md, 1rem);
}

/* END HEADER */

/* BUTTON */

.form__btn {
  all: unset;

  font-weight: var(--font-weight-medium, 500);
  color: var(--color-white, white);
  background: var(--color-primary, #f57914);
  border-radius: var(--border-radius-3xl, 1.4rem);

  text-align: center;
  width: calc(100%/3);
  padding: .5em 1.1em;

  filter: brightness(100%);
  transition: filter 300ms linear;
}

.form__btn:hover{
  filter: brightness(120%);
}

/* END BUTTON */

/* MAIN */

.form__inputs{
  margin: 1rem 0 ;
}

.form__inputs > div > input{
  all: unset;

  background-color: var(--color-white, white);
  border-radius: var(--border-radius-3xl, 1.4rem);
  font-size: var(--font-size-sm, .8rem);

  padding: .3em 1em;
  width: calc(100% - 36px) -.5rem;
}

.form__inputs > div > input::placeholder{
  font-weight: var(--font-weight-medium, 500);
  color: var(--color-dark, #252525);
}

/* END MAIN */

/* LABEL */
.form__inputs > label{
  margin-top: 1rem;
  font-size: var(--font-size-sm, .8rem);
  font-weight: var(--font-weight-bold, 700);
  max-width: 315px;
}

.form__inputs > label > input{
  align-self: flex-start;
  margin-top: .85%;
  border: none;
  width: 36px;
}
/* END LABEL */

/* ICON */

.formIcon{
  background: var(--color-white, white);
  color: var(--color-dark-light, #868686);
  border-radius: var(--border-radius-3xl, 1.4rem);

  width: 36px;
  height: 26px;

  padding: .3em .6em;

}

/* END ICON */