.customCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}
  
.customRow {
    display: flex;
    justify-content: space-between;
    gap: .5em;
}

/* SELL PAGE */

.sellPageHeader h1{
    position: relative;
    text-align: center;
    font-weight: var(--font-weight-bold, 700);
    font-size: var(--font-size-3xl, 2rem);
}

/* END SELL PAGE */

.imgAndForm{
    gap: 5%;
}

/* IMG-HEADER */
.imgContainer{
    align-self: center;
    justify-content: center;
    width: 50%;

}
.imgHeader{
    width: 470px;
    height: 550px;
    object-fit: cover;
    

    border-radius: var(--border-radius-5xl, 4rem);

    /* background-image: url('../../../../../src/img/soy-propietario/key.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

}
/* END IMG-HEADER */

@media (width < 991px){
    .imgAndForm{
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
    }
    .imgContainer{
        display: none;
        width: 100%;
    }
}