.customCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

.customRow {
  display: flex;
  justify-content: space-between;
  gap: .5em;
}

.mainContainer{
  border: solid 5px var(--color-pale-gray, #e1e6e7);
  border-radius: 50%;
  width: 450px;
  height: 450px;
  padding: 4em;

  justify-content: center;
  text-align: center;

  position: relative;
}

.divContainer{
  position: absolute;
  inset: 0;

  width: 200px;
  height: 100px;
  background: black;
}