.row {
  margin: 2rem auto !important;
  height: auto;
}

.col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5rem;
}

.propertyTypeInfo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: 0.9rem 0 !important;
  padding: 0 !important;
}

.propertyTypeInfo li {
  list-style: none;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  color: var(--color-dark);
  text-transform: uppercase;
}

.propertyTypeInfo li,
.propertyTypeInfo li a {
  text-decoration: none;
  background-color: var(--color-light);
  margin-right: 0.5rem;
  text-transform: capitalize;
  padding: 0.2rem 0.3rem;
  font-size: var(--font-size-md);
}

.propertyTypeInfo li a {
  color: var(--color-black);
  font-weight: var(--font-weight-bold);
}

.propertyTypeInfo li {
  color: var(--color-dark);
  font-weight: var(--font-weight-medium);
}

.deptoDetailsShare {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  flex-direction: row;
  align-items: flex-start;
}

.shareLink,
.printLink {
  text-decoration: none;
  color: var(--color-dark);
  font-size: var(--font-size-lg);
  transition: 0.3 all ease-in-out;
}

.shareLink:hover,
.printLink:hover {
  color: var(--color-primary);
}

.detailContainer h2 {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-extra-bold);
  color: var(--color-dark);
  margin-bottom: 0;
  margin: 1rem 0;
}

.detailContainer h4 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-dark);
}

.pricesContainer {
  margin: 1.8rem 0;
}

.detailContainer .ufPrice,
.detailContainer .clpPrice {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 2.7rem !important;
  text-transform: uppercase;
}

.detailContainer .ufPrice {
  font-size: 3.7rem;
  font-weight: var(--font-weight-medium);
}

.detailContainer .clpPrice {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}

.deptoPropsContainer {
  display: flex;
  flex-direction: column;
}

.deptoPropsContainer span {
  margin: 0.2rem 0;
  font-size: var(--font-size-md);
  color: var(--color-dark);
}

@media screen and (min-width: 1400px) {
  .row {
    height: 950px;
  }
}
