.rowItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: green;
  width: 100% !important;
}

.col {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: center !important;
  margin: 0 !important;
  padding: 0 !important;
}

.colForm {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
  padding: 0.1rem 2rem;
}

@media screen and (min-width: 992px) {
  .col {
    padding: 2rem;
  }
}
