/* Google Fonts */
/* Poppins & Roboto fonts (300-400-500-600-700-800) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  /* Color Palette */
  --color-primary: #f57914;
  --color-secondary: #4e2772;
  --color-terciary: #39b54a;
  --color-quinary: #1ea498;
  --color-quaternary: #ed4f44;
  --color-senary: #f1bd21;
  --color-septenary: #009245;
  --color-octonary: #f09425;
  --color-nonary: #95b8f6;
  --color-black: #000000;
  --color-dark: #252525;
  --color-dark-light: #868686;
  --color-pale-gray: #e1e6e7;
  --color-pale-gray-dark: #adadad;
  --color-white: #ffffff;
  --color-light: #f5f5f5;

  --color-bg-publishing-form: hsl(260 5% 35% /0.2);

  /* Dark color palette */
  --color-primary-dark: #e77212;

  /* Font size */
  --font-size-xs: 0.6rem;
  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;
  --font-size-xl: 1.4rem;
  --font-size-xxl: 1.6rem;
  --font-size-2xl: 1.8rem;
  --font-size-3xl: 2rem;
  --font-size-4xl: 2.2rem;
  --font-size-5xl: 2.4rem;

  /* Font weight */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  /* Font family */
  --font-family-primary: 'Poppins', sans-serif;
  --font-family-secondary: 'Roboto', sans-serif;

  /* Border radius */
  --border-radius-sm: 0.2rem;
  --border-radius-md: 0.4rem;
  --border-radius-lg: 0.6rem;
  --border-radius-xl: 0.8rem;
  --border-radius-xxl: 1rem;
  --border-radius-2xl: 1.2rem;
  --border-radius-3xl: 1.4rem;
  --border-radius-5xl: 4rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: var(--text-white);
  color: var(--text-dark);
  font-family: var(--font-family-primary) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

/* MODAL CONTACT FORM - ADMINISTRACIÓN DE ARRIENDO */
.modal-content {
  border-radius: var(--border-radius-5xl) !important;
}

/* TABS - DETALLE PROPIEDAD */
.nav-tabs {
  background-color: transparent !important;
  border-radius: var(--border-radius-5xl) !important;
  border: none !important;
}

.nav-tabs .nav-link {
  border-radius: var(--border-radius-5xl) !important;
  color: var(--color-dark) !important;
  border: none !important;
  margin-right: 2rem !important;
}

.nav-tabs .nav-link:hover {
  background-color: var(--color-primary-dark) !important;
  color: var(--color-white) !important;
}

.nav-tabs .active {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
}

.__JnHV {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
  border-radius: var(--border-radius-lg) !important;
  font-size: var(--font-size-sm) !important;
  margin-top: 2rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important;
}
._3WRGR {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
  border-radius: var(--border-radius-xs) !important;
  font-size: var(--font-size-sm) !important;
  margin-top: 2rem;
  display: none !important;
}
