.col {
  margin: 0.5rem 0;
  position: relative;
}

.card {
  padding: 0.5rem;
  border-radius: var(--border-radius-lg);
  border: none !important;
  /* border: 1px solid var(--color-dark); */
  position: relative;
  /* box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2); */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 420px !important;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.card:hover {
  /* box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4); */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.cardBody {
  margin: 0;
  padding: 0.7rem;
}

.deptStatus {
  position: absolute;
  top: 1.5rem;
  left: 0;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  padding: 0.2rem 1rem;
  border-radius: var(--border-radius-3xl);
}

.deptStatusForSales {
  position: absolute;
  top: 1.5rem;
  left: 0;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  padding: 0.2rem 1rem;
  border-radius: var(--border-radius-3xl);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.deptStatusFeatured {
  position: absolute;
  top: 1.5rem;
  left: 0;
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  padding: 0.2rem 1rem;
  border-radius: var(--border-radius-3xl);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.cardImage {
  width: 100%;
  max-height: 2500px !important;
  height: 200px !important;
  object-fit: cover;
  border-radius: var(--border-radius-lg);
  cursor: pointer;
}

.cardTitle {
  font-size: var(--font-size-lg);
  font-weight: bold;
  color: var(--color-black);
  text-transform: capitalize;
  margin: 0.5rem 0;
  margin: 0;
  padding: 0;
}

.deptCode {
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}

.address {
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
  margin: 0;
  padding: 0;
}

.priceContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 1rem;
}

.priceContainer span {
  font-size: var(--font-size-md);
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
  margin-top: 0.5rem;
}

.details {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
  padding: 0.2rem 1rem;
  border-radius: var(--border-radius-3xl);
  text-decoration: none;
  cursor: pointer;
}

.details:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}
